
<h1>Make your form here</h1>

<form action="/pirates" method="post">
    <label for="">Pirate
Pirate Name: <input type="text" name="pirate[name]">
Pirate Weight: <input type="text" name="pirate[height]">
Pirate Height: <input type="text" name="pirate[weight]">
</label>
<br>
<label for="">ship 1
Name: <input type="text" id= 'ship_name_1' name="pirate[ships][][name]" >
Type: <input type="text" id= 'ship_type_1' name="pirate[ships][][type]" >
Booty: <input type="text" id= 'ship_booty_1' name="pirate[ships][][booty]" >
</label>
<br>
<label for="">ship 2
Name: <input type="text" id= 'ship_name_2' name="pirate[ships][][name]" >
Type: <input type="text" id= 'ship_type_2' name="pirate[ships][][type]" >
Booty: <input type="text" id= 'ship_booty_2' name="pirate[ships][][booty]" >
</label>




<input type="submit" value="Submit">

</form>

